{{ content.field_media_image }}

<div class="carousel-caption">
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes.addClass('node__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% else %}
    <h1{{ title_attributes.addClass('node__title title page-title') }}>
      {{ label }}
    </h1>
  {% endif %}
  {{ title_suffix }}

  {{ content | without('field_media_image') }}
</div>
